group netcorebuild
    source https://api.nuget.org/v3/index.json
    storage: none

    nuget Fake.BuildServer.TeamCity
    nuget Fake.Core.Target
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.MSBuild
    nuget Fake.DotNet.Nuget
    nuget Fake.Tools.Git
